.password-validate{
    margin-top: 50px;
    padding: 16px;
    border-radius: 8px;
    border: 2px solid rgb(245, 245, 245);
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.password-validate .main input{
    width: 100%;
    max-width: 100%;
    padding: 10px 12px;
    border: none;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
}
.password-validate .main button{
    width: 100%;
    max-width: 100%;
    padding: 10px 12px;
    border: none;
    outline: none;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 20px;
}
.password-validate .main button.active{
    background-color: #63a1ff;
    color: white
}
.password-validate .main .valid__list{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    margin-top: 10px;
}
.password-validate .main .valid__item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 4px 12px;
    width: fit-content;
    border-radius: 20px;
    border: 1px solid #ccc;
}
.password-validate .main .valid__item-text{
    font-size: 12px;
}
.password-validate .main .valid__item-icon{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    padding: 2px;
}
.password-validate .main .valid__item.success .valid__item-icon{
    background-color: #63a1ff;
}
.password-validate .main .valid__item.error .valid__item-icon{
    background-color: #e25050;
}
.password-validate .main .valid__item.success{
    border-color: #63a1ff;
    background-color: rgba(99, 161, 255, 0.1);
}
.password-validate .main .valid__item.error{
    border-color: #e25050;
    background-color: rgba(226, 80, 80, 0.1) ;
}